# macOS system files
.DS_Store

# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# VSCode ayarları
.vscode/

# Test / log  files
*.log
*.tmp

# Virtual environments 
env/
venv/
ENV/

# Kivy cache
.kivy/
.kivy_config/

# PyInstaller or build files
build/
dist/
*.spec

# IDE Metadata (PyCharm, IntelliJ vs.)
.idea/